@mixin icon-txt-basic {
    padding-left: 10px;
    font-size: 14px;
    font-weight: 700;
}

@mixin icon-basic {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin: 0px 1rem;
    cursor: pointer;
}

.icon {
    display: flex;
    padding-right: 10px;

    &__profile {
        @include icon-basic;

        .icon-txt {
            @include icon-txt-basic
        }

    }

    &__wishlist {
        @include icon-basic;

        .icon-txt {
            @include icon-txt-basic
        }
    }

    &__cart {
        @include icon-basic;

        .icon-txt {
            @include icon-txt-basic
        }
    }
}



// media query
@mixin icon-txt-none {
    display: none;
}

@media only screen and (max-width:980px) {
    .icon {
        &__profile {
            .icon-txt {
                @include icon-txt-none;
            }
        }

        &__wishlist {
            .icon-txt {
                @include icon-txt-none;
            }
        }

        &__cart {
            .icon-txt {
                @include icon-txt-none;
            }

        }
    }
}