@import "../../styles/defalutMixins.scss";

.profile-popup {
    @include popup(50%, 40%);

    .details-container {
        padding: 1rem 3rem 1rem;
        @include displayflex;
        flex-direction: column;

        h2 {
            gap: 1rem;
            text-align: center;
            color: #2C3667;
        }

        .details-head {
            padding: 0.3rem 0;
            display: flex;
            gap:1rem;

            .details {
                font-weight: 400;
            }
            @media screen and (max-width:580px) {
                flex-direction: column;
                align-items: center;
            }
        }

        &>img {
            border-radius: 50%;
            height: 13%;
            width: 13%;
            margin-top: 1rem;
        }
    }

    @media screen and (max-width:950px) {
        width: 80%;
        height: 60%;
    }
}